.dispenser{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.title{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.overlay{
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    flex-direction: column;
}

.window{
    border: 1px solid #000;
    border-radius: 25px;
    width: 90%;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
}

/* 상단 제목 (FOOD) */
.card-title {
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

/* 정보 텍스트 세션 */
.info-section p {
  margin: 4px 0;
  font-weight: bold;
  padding-left: 20px;       /* 이미지처럼 약간 들여쓰기 */
}

/* 중간 구분선 */
.divider {
  border: 0;
  border-top: 1px solid black;
  margin: 15px 0;
}

/* AUTO <ON> 부분 */
.auto-status {
  font-weight: 800;
  margin-bottom: 5px;
}

.status-on {
  color: red;               /* ON 글자색 빨간색 */
}

/* 예약 시간 목록 */
.reservation-list p {
  font-size: 0.9rem;
  margin: 0px 0;
  font-weight: 600;
  font-size: 11px;
}

.setting{
    left:0;
    bottom: 0;

}