.thumbnail-wrapper{
    width: 12%;
    border: #fff solid 1px;
    aspect-ratio: 1/1;
    background-color: #aaa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.thumbnail-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.thumbnail-check{
    position: absolute;
    top: 2px;
    right: 2px;
}

.gallery-bar{
    position: sticky;
    bottom: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #0005;
}

.bar-icon-wrapper {
  width: 50%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.bar-icon-wrapper:hover{
  background-color: #0005;
}

.bar-icon {
  width: 28px;
  height: 28px;
  object-fit: contain;
}

.hide{
  display: none;
}