.live-box {
    width: 100%;
    height: 200px;
    background-color: #000000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live-box.full{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vh;
    height: 400px;
    transform: translate(-50%, -50%) rotate(90deg);
}

.live-viewer{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.live-control{
    width: 100%;
    height: 100%;
    position: absolute;
}

.live-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 3px solid #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.brightness-icon {
    position: absolute;
    top: 12px;
    right: 12px;
}

.full-icon{
    position: absolute;
    bottom: 12px;
    right: 12px;
    cursor: pointer;
}

.hide{
  display: none;
}