.popup-background{
  background-color: #0009;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 50;
  display: flex;
  align-items: end;
  justify-content: center;
}

.popup-box{
  width: 75%;
  border-radius: 12px;
  padding: 24px 24px 100px 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.popup-box-signup{
  padding-bottom: 40px;
}

.popup-divider{
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 12px 0px;
}

.popup-buttons{
  gap: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}